<h1> list of tasks </h1>

<ul>
<% @list_of_tasks.each do |task|  %>
  <li><%= link_to("#{task[:name]}", task_path(task[:id])) %>
  <%= link_to "Edit Task", task_edit_path(task[:id]) %>
  </li>
<% end %>
</ul>

<br><%= link_to "Add a new task!", tasks_new_path %>
