<% if flash[:error] %>
<p><%= flash[:error] %></p>
<% end  %>
<h1>Welcome to Task List Rails!</h1>

<p> To sign into your TaskList account, <%= link_to "log in here or above", "http://localhost:3000/auth/github"  %>.</p>
